@model List<KunskapskollMVCLabb.Models.AdressBok>

@{
    var ajaxOptions = new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "result"
    };
    var ajaxOptionsEdit = new AjaxOptions
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "result"
    };
}
<h3>Listan</h3>
@foreach (var item in Model)
{
    <p>
        @item.Name
        @item.Adress
        @item.PhoneNumber
        @item.UpdatedDate
        @Ajax.ActionLink($"Delete { item.Name}", "Delete",new { id=item.ID}, ajaxOptions)
        @Ajax.ActionLink($"Edit {item.Name}", "Edit", new { id=item.ID}, ajaxOptionsEdit)
    </p>

}